.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 70px;
    padding: 10px;
    border: 1px solid #333;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
.greeting  h1 {
    text-align: center;
}